
/* 8888888888888888888888888888888 */
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

.CursiveFont{
  font-family: 'Lobster', cursive;
  color: lightgrey;
  font-size: 25px;
}

.oval {
  height: 50px;
  width: 150px;
  background-color: rgb(78, 80, 93);
  border-color: rgb(78, 80, 93);
  border-radius: (25/17)px;
  font-family: 'PT Serif', serif;
  font-weight: medium;
  color: white;
}

.spaces{
  margin-right: 500px;
}
